body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.channels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.channel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(8, 8, 8, 0.3);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px #936868;
}
.channel-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}
.classDiv {
  width: 65%;
}
h2 {
  margin: 0;
  padding: 5px;
  color: rgb(64, 64, 185);
}
audio {
  background-color: red;
}

@media (max-width: 767px) {
  .channels-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .channel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px #936868;
  }
}
